html, body {
  margin: 0px;
  background-color: #2F4F30;
  color: #FFF;
}

.titulo {
  text-align: center;
  background-color: #000;
  color: #FFF;
  padding: 20px;
  font-size: 25px;
}

.carta {
  width: 150px;
  position: relative;
  left: 100px;
  margin-left: -75px;
}

#computadora-cartas, #jugador-cartas {
  height: 240px;
}